<div class="container-fluid">
    <div class="row"> <!-- CUERPO -->
        <div class="lat col-sm-2 ml"> <!-- MENÚ LATERAL-->
            <app-lateral></app-lateral>
        </div> <!-- CIERRA MENÚ LATERAL-->
        <div class="con col-sm-10"> <!-- CONTENIDO-->
            <form>
                <div class="row aling-items-center ti">
                    <p>Eliminar Libro</p>
                </div>
                <div class="row align-items-center d-usuario"> <!-- DATOS PARA BUSCAR USUARIO-->
                    <div class="col-sm-11 tdatos">
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="id-libro" class="col-form-label">ID Libro:</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="id-libro" class="form-control" placeholder="Ingresa ID Libro">
                            </div>
                            <div class="col-sm-3 boton align-items-center">
                                <button type="button" id="buscar" class="btn btn-warning">
                                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>  Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row align-items-center d-usuario"> <!-- DATOS USUARIO-->
                    <div class="col-sm-11 tdatos">
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="id-libro" class="col-form-label">ID Libro:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="id-libro" class="form-control" placeholder="Ingresa ID Libro">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="tipo" class="col-form-label">Tipo:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-select" id="categoria" placeholder="Selecciona tipo">
                                    <option selected>Selecciona tipo...</option>
                                    <option value="1">Libros</option>
                                    <option value="2">Revistas</option>
                                    <option value="3">Enciclopedias</option>
                                    <option value="4">Diccionarios</option>
                                    <option value="5">Videos CD</option>
                                    <option value="6">Videos DVD</option>
                                    <option value="7">Cintas VHC</option>
                                    <option value="8">Tesis en disco</option>
                                    <option value="10">Tesis impresas</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="titulo" class="col-form-label">Título:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="titulo" class="form-control" placeholder="Ingresa título">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="autor" class="col-form-label">Autor:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="autor" class="form-control" placeholder="Ingresa autor">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="editorial" class="col-form-label">Editorial:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="editorial" class="form-control" placeholder="Ingresa editorial">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="categoria" class="col-form-label">Categoría:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-select" id="categoria" placeholder="Selecciona categoría">
                                    <option selected>Selecciona categoría...</option>
                                    <option value="1">Generalidades</option>
                                    <option value="2">Filosofía y psicología</option>
                                    <option value="3">Religión</option>
                                    <option value="4">Ciencias Sociales</option>
                                    <option value="5">Lenguas</option>
                                    <option value="6">Ciencias Básicas</option>
                                    <option value="8">Tecnologias y Ciencias Aplicadas</option>
                                    <option value="9">Literatura</option>
                                    <option value="10">Bellas Artes</option>
                                    <option value="11">Colección de consulta</option>
                                    <option value="11">Tesis</option>
                                    <option value="11">Revistas</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="ubicacion" class="col-form-label">Ubicación:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="ubicacion" class="form-control" placeholder="Ingresa ubicación">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="edicion" class="col-form-label">Edición:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" id="edicion" class="form-control" placeholder="Ingresa edición">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="volumen" class="col-form-label">Volumen:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" id="volumen" class="form-control" placeholder="Ingresa volumen">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="fecha-publi" class="col-form-label">Fecha publicación:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="date" id="fecha-publi" class="form-control"
                                    placeholder="Ingresa fecha publicación">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="lugar-publi" class="col-form-label">Lugar publicación:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="lugar-publi" class="form-control"
                                    placeholder="Ingresa lugar publicación">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="lugar-publi" class="col-form-label">Foto de referencia:</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="row img">
                                    <img src="#" width="400px" height="500px" />
                                </div>
                                <div class="row">
                                    <div class="input-group mb-3">
                                        <input type="file" class="form-control" id="inputGroupFile02">
                                        <label class="input-group-text" for="inputGroupFile02">
                                            <i class="fa-solid fa-upload"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row boton"> <!-- BOTÓN ELIMINAR-->
                            <button type="button" class="btn btn-warning">
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i> Eliminar
                            </button>
                        </div>
                    </div>
                </div> <!-- CIERRA DATOS USUARIO-->
            </form>
        </div> <!-- CIERRA CONTENIDO-->
    </div>
</div>