.lateral{
    background: #ebebeb;
    text-align: center;
    color: #00a786;
    font-size: 40px;
    height: 1000px ;
}
.DespLib{
    border: black 2px;
    float: right;
    border-color: blue;
}
.btn{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;
  border-color: black;
  float: right;
}
.formulario1{
    position: relative;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #005c3e;
    font-weight: bold;
    text-align: center;
    padding: 20px;  
}
.cd{
    height: 50px;
    padding: 5px;
}
.btnbas{
   color: rgb(0, 0, 0);
   background-color: #ffc107;
   align-items: center;
   width: 90px;
   border-radius: 3px;
   border-color: #ffc107;
}
hr.dotted{
    border: none;
    border-top: 1px dotted black;
    color: black;
    background-color: transparent;
    height: 1px;
    width: 80%;
    margin: 20px auto;
}
.btnver{
    color: rgb(0, 0, 0);
    background-color: #ffc107;
    width: 70px;
    border-radius: 6px;
    border-color:  #ffc107;
}
.table-container{
    height: 310px;
    overflow-y: scroll;
}
.table{
    color: #005c3e;
}
.barra{
    /*background: #20252e;*/
    background: #87CEFA;
}