<div class="container-fluid">
  <div class="row">
  <div class="col-sm-2  ">
<app-lateral></app-lateral>
 <br>
   <br>
   <br>   
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  </div>
  
      <div class="cd col-md-10 bg-primary">
        <form class="d-flex">
          <button
            type="button"
            class="btn"
            data-bs-toggle="dropdown"
            style="float: right"
          >
            Libros
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/buscar-material">Materiales</a></li>
          </ul>
        </form>
        <br />
        <br />
        <div class="row formulario1">
          <div class="col-md-2">
            <label>Titulo: </label>
          </div>
          <div class="col-md-3">
            <input
              type="text"
              class="form-control"
              id="tirulo"
              placeholder="Ingresa el Titulo del libro"
              name="Titulo"
            />
          </div>
        </div>
        <div class="row formulario1">
          <div class="col-md-2">
            <label>Autor: </label>
          </div>
          <div class="col-md-3">
            <input
              type="text"
              class="form-control"
              id="titulo"
              placeholder="Ingresa el Autor"
              name="Autor"
            />
          </div>
        </div> 
        <!--CATEGORIA-->
        <div class="row formulario1">
          <div class="col-md-2">
            <label for="" class="">Categoría</label>
          </div>
          <div class="col-md-3">
            <select class="form-select" id="categoria1" required>
              <option selected disabled value="">
                Selecciona una categoría...
              </option>
              <option>Generalidades</option>
              <option>Filosodia y psicología</option>
              <option>Religión</option>
              <option>Ciencias Sociales</option>
              <option>Lenguas</option>
              <option>Ciencias Básicas</option>
              <option>Tecnologias y Ciencias Aplicadas</option>
              <option>Literatura</option>
              <option>Bellas Artes</option>
              <option>Colección de consultas</option>
              <option>Tesis</option>
              <option>Revistas</option>
            </select>
          </div>
        </div>
        <div class="row formulario1">
        <div class="col-md-2">
          <label>Editorial: </label>
        </div>
        <div class="col-md-3">
          <input
            type="data"
            class="form-control"
            id="Autor"
            placeholder="Ingresa el Autor"
            name="Autor"
          />
        </div>
      </div>
      <div class="row formulario1">
      <button type="button" class="btnbas">Buscar</button>
      <br>
      <br>
      <br>
      <hr>
      <div class="con container pt-5">
        <h1 class="titulo">BUSQUEDA DE LIBROS</h1>
       </div>
       <div class="table-container">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>Título</th>
              <th>Autor</th>
              <th>Categoría</th>
              <th>Editorial</th>
              <th>...</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="row formulario1">
                  <button type="button" class="btnver">Ver</button>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="row formulario1">
                  <button type="button" class="btnver">Ver</button>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="row formulario1">
                  <button type="button" class="btnver">Ver</button>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tbody>
        </table>
    </div>
      </div>