<div class="container-fluid">
    <div class="row"> <!-- CUERPO -->
        <div class="lat col-sm-2 ml"> <!-- MENÚ LATERAL-->
            <app-lateral></app-lateral>
        </div> <!-- CIERRA MENÚ LATERAL-->
        <div class="con col-sm-10"> <!-- CONTENIDO-->
            <form  #usuarioForm="ngForm" (ngSubmit)="createUsuario(usuarioForm)">
                <div class="row aling-items-center ti">
                    <p>Alta Usuario</p>
                </div>
                <div class="d-usuario row align-items-center"> <!-- DATOS USUARIO-->
                    <div class="col-sm-11 tdatos">
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="id-usuario" class="col-form-label">ID Usuario:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="id-usuario" class="form-control" placeholder="Ingresa ID usuario" name="id_usuario" [(ngModel)]="usuarioService.usuario.id_usuario">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="nombre" class="col-form-label">Nombre:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="nombre" class="form-control" placeholder="Ingresa nombre" name="nombre" [(ngModel)]="usuarioService.usuario.nombre">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="ap-p" class="col-form-label">Apellido paterno:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="ap-p" class="form-control"
                                    placeholder="Ingresa apellido paterno" name="ap_paterno" [(ngModel)]="usuarioService.usuario.ap_paterno">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="ap-m" class="col-form-label">Apellido materno:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="ap-m" class="form-control"
                                    placeholder="Ingresa apellido paterno" name="ap_materno" [(ngModel)]="usuarioService.usuario.ap_materno">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="area-academica" class="col-form-label">Rol:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-select" id="area-academica" name="tipo" [(ngModel)]="usuarioService.usuario.tipo">
                                    <option selected>Selecciona rol..</option>
                                    <option value="1">Bibliotecario</option>
                                    <option value="2">Profesor</option>
                                    <option value="3">Alumno</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="area-academica" class="col-form-label">Área académica:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-select" id="area-academica">
                                    <option selected>Selecciona área académica..</option>
                                    <option value="1">Económico Administrativa</option>
                                    <option value="2">Tecnologías de la Información y Comunicación</option>
                                    <option value="3">Industrial, Eléctrica y Electrónica/option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="carrera" class="col-form-label">Carrera:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-select" id="carrera" name="id_carrera" [(ngModel)]="usuarioService.usuario.id_carrera">
                                    <option selected>Selecciona carrera..</option>
                                    <option value="1">Administración Área Capital Humano</option>
                                    <option value="2">Desarrollo de Negoción Área Mercadotecnia</option>
                                    <option value="3">Contaduría</option>
                                    <option value="4">Turismo</option>
                                    <option value="5">Licenciatura en Gestión del Capital Humano</option>
                                    <option value="6">Licenciatura en Innovacción de Negocios y Mercadotecnia</option>
                                    <option value="8">Licenciatura en Contaduría</option>
                                    <option value="9">Desarrollo de Software Multiplataforma</option>
                                    <option value="10">Ingeniería en Desarrollo y Gestión de Software</option>
                                    <option value="11">Infraestructura en Redes Digitales</option>
                                    <option value="12">Ingeniería en Redes Inteligentes y Ciberseguridad</option>
                                    <option value="13">Entornos Virtuales y Negocios Digitales</option>
                                    <option value="14">Ingeniería en Entornos Virtuales y Negocios Digitales</option>
                                    <option value="15">Diseño Digital</option>
                                    <option value="16">Licenciatura en Diseño Digital y Producción Audiovisual</option>
                                    <option value="17">Mecatrónica Área Instalaciones Eléctricas Eficientes</option>
                                    <option value="18">Procesos Industriales Área Manufactura</option>
                                    <option value="19">Energías Renovables Área Calidad y Ahorro de Energía</option>
                                    <option value="20">Ingeniería en Mecatrónica</option>
                                    <option value="21">Ingeniería en Tecnologías de la Producción</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="correo" class="col-form-label">Correo Electrónico:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="correo" class="form-control"
                                    placeholder="Ingresa correo electrónico" name="correo" [(ngModel)]="usuarioService.usuario.correo">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-3">
                                <label for="contra" class="col-form-label">Contraseña:</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="contra" class="form-control" placeholder="Ingresa contraseña" name="contraseña" [(ngModel)]="usuarioService.usuario.contrasena">
                            </div>
                        </div>
                        <div class="row boton"> <!-- BOTÓN GUARDAR-->
                            <button type="button" class="btn btn-warning" type="submit">
                                <i class="fa-solid fa-floppy-disk fa-lg" style="color: #ffffff"></i> Guardar
                            </button>
                        </div>
                    </div>
                </div> <!-- CIERRA DATOS USUARIO-->
            </form>
        </div> <!-- CIERRA CONTENIDO-->
    </div>
</div>